.login{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.leftcontent{
    display: flex;
    flex-direction: column;
    float: left;
    width: 65%;
    height: 100%;
}

.rightcontent{
    display: flex;
    float: right;
    width: 35%;
    height: 100%;
}

.leftcontent > img{
    width: 60%;
    height: 60%;
}

#logo{
    height: 15%;
    width: 40%;
    margin-top: 5%;
    margin-left: 7%;
}

.leftcontent h1{
    margin-left: 5%;
    font-size: 30px;
    color: black;
}

.leftcontent p{
    margin-left: 5%;
    margin-top: 10%;
    font-size: 20px;
    color: black;
}
