.login{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    @media (max-width: 768px) {
        .left-div,
        .right-div {
          width: 100%;
        }
    }
}

.leftcontent{
    display: flex;
    flex-direction: column;
    float: left;
    width: 65%;
    height: 100%;
}

.rightcontent{
    display: flex;
    float: right;
    width: 35%;
    height: 100%;
}

.leftcontent > img{
    height: 60%;
    width: 80%;
    margin-bottom: 5%;
}

.leftcontent h1{
    margin-left: 5%;
    font-size: 30px;
}

.leftcontent p{
    margin-left: 5%;
    margin-top: 10%;
    font-size: 20px;
}
