.footer{
    width: 100%;
    background: #11423F;
    text-align: center;
    margin-top: auto;
}

.footer p{
    font-family: 'Belgrano';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
}
