.footer{
    width: 100%;
    height: 50px;
    background: #11423F;
    text-align: center;
}

.footer p{
    padding: 15px;
    font-family: 'Belgrano';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
}
