@font-face {
  font-family: 'Belgrano';
  src: url(/fonts/Belgrano-Regular.ttf);
}
body{
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

*{
  font-family: Belgrano;
}

#root{
  width: 100vw;
  height: 100vh;
}